body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}

.github {
    margin-top: -14px;
    text-align: center;
    outline: 1px solid black;
}

.container {
    margin: auto;
    margin-top: 30px;
    font-size: 0;
    height: 350px;
    width: 350px;
}

.square {
    display: inline-block;
    outline: 1px groove grey;
    height: 21px;
    width: 21px;
}

div.square:hover {
    background-color: black;
}