html {
    background-color: rgb(116, 109, 104);
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}

a {
    color: black;
}

.buttons {

    display: flex;
    height: 100px;
    width: 300px;
    gap: 30px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-bottom: -20px;
}

.set {
    height: 50px;
    width: 200px;
    background-color: rgb(185, 219, 209);
}

.reset {
    height: 50px;
    width: 200px;
    background-color: rgb(185, 219, 209);
}

.rainbow {
    height: 50px;
    width: 150px;
    background-color: rgb(185, 219, 209);
}

.shader {
    height: 50px;
    width: 150px;
    background-color: rgb(185, 219, 209);
}

.normal {
    height: 50px;
    width: 150px;
    background-color: rgb(185, 219, 209);
}

.dimensions {
    display: block;
}

.github {
    margin-top: -14px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    margin: auto;
    margin-top: 30px;
    font-size: 0;
    height: 700px;
    width: 700px;
    border: 3px solid black;
    background-color: white;
}

.square {
    display: inline-block;
}

div.square:hover {
    background-color: black;
}

button:focus:not(:focus-visible) {
    outline: none;
    box-shadow: 3px 3px 5px rgba(1, 1, 0, .7);
}

button.rainbow:hover {
    animation-name: rainbow;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes rainbow {
    0% { background-color: #fc0303 }
    17% { background-color: #45f52a }
    34% { background-color: #2a7bf5 }
    51% { background-color: #2af5e4 }
    68% { background-color: #c92af5 }
    85% { background-color: #f5dd2a }
    100% { background-color: #66655d }
  }